/* General Styles */
body {
    font-family: Comic Sans MS;
    margin: 0;
    padding: 0;
    background-color: #fffbd5;
    color: #838383;
}
li img{
    width: 200px;
}
header {
    text-align: center;
    padding: 40px 20px;
    background-color: #1e1e1e;
}
nav{
    height: 40px;

}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    overflow-block: scroll;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

p {
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
}

/* Sections */
 section {
    
    padding: 60px 20px;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #b20a2c;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    margin: 10px 0;
}

/* Projects */
.project {
    background-color: #d3cbb8;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    color: #b20a2c;
    text-decoration: none;
    font-weight: bold;
}

/* Contact */
#contact p a {
    color: #b20a2c;
    text-decoration: none;
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#image img{
    width: 200px;
    height: 250px;
    object-fit: contain;
    clip-path: circle(40%);  
}
/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    margin-top: 20px;
}

@media only screen  and (max-width: 480px) {
    h1 {
        font-size: 1.5em;
        margin: 0;
    }
    p {
        font-size: 0.7em;
    }

    #info{
        width: 2.6em;
    }

    nav{
        height: 2em;
    }

    nav ul li a {
        font-size: 0.9em;
    }

}