.Header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
    background-color: rgb(208, 241, 24);
} 
#logo{
    width: 100px;
    height: 100px;
}
#logo img{
    width: 100%;
}

#name{
    width: 75%;
    display: flex;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
}

.Heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
}

.sudoku_grid{
    display: flex;
    flex-direction: row;
    max-width: 578px;
    flex-wrap: wrap;
    margin: 10px auto ;
}

.sudoku_grid div{
    display:  flex;
    align-items: center;
    justify-content: center;
    
    width: 60px;
    height: 60px;
    color: rgb(255, 255, 255);
    font-size: 40px;

    box-sizing: border-box;
}

.Buttons{   
    display: flex;
    justify-content: center;
    width: 100%;    
    margin-bottom: 40px;
}

#GetPuzzle,#SolvePuzzle{
    display: inline-block;
    text-decoration: none;
    color: #020202;
    font-weight: bold;
    background-color: #819ef3;
    padding: 10px 35px;
    font-size: 24px;
    border: 1px solid #020b08;
    box-shadow: inset 0px 1px 0px #ef0b0b;
    margin-right: 10px;
}

.box1{
    background-color: #848888;
    border: 2px solid  rgb(0, 0, 0);
}

.box1:hover{
    background-color: #dfd6da;
    color: black;
}

.box2{
    background-color: #7b7f0e;
    border: 2px solid  rgb(0, 0, 0);
}
.box2:hover{
    background-color: rgb(207, 230, 139);
}

.box3{
    background-color: #277a2f;
    border: 2px solid  rgb(0, 0, 0);
}
.box3:hover{
    background-color: #8fbd4f;
    color: black
}

.bl{
    border-left: 4px solid black;
}

.bb{
    border-bottom: 4px solid black;
}

.br{
    border-right: 4px solid black;
}

.bt{
    border-top: 4px solid black;
}


@media only screen  and (max-width: 480px) {
    body {
      background-color: lightblue;
      
    }

    .sudoku_grid {
        max-width: 100%;
    }

    .sudoku_grid div {
        max-width: 1.2em;
    }
    #logo img{
        width: 4.5em;
    }
    #name{
        font-size: 2.5em;
    }
    .Header{
        height: 4.5em;
    }
}